my notes about my internet connection

my ip as dicated by my provider
my subnet mask as dicated by my provider
my isp gateway as dicated by my provider
my dns 1 as dicated by my provider
my dns 2 as dicated by my provider

